@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Rajdhani&display=swap');

.todo-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
}

.todo-container.shrink-on-focus-out:not(:focus-within) {
    grid-row: 1 / span 1;
}

.todo-container.shrink-on-focus-out > .todo-input::placeholder {
    color: transparent;
}

.todo-form {
    display: flex;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

.todo-span {
    overflow: hidden;
    position: relative;
    flex: 1;
}

.todo-input {
    position: relative;
    border: 0;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.89);
    text-shadow: 2px 1px 3px rgba(255, 38, 255, 0.678), -2px 1px 3px rgba(73, 211, 119, 0.623), 20px 15px 10px white, 20px 15px 15px white, 1px 2px  50px rgb(159, 75, 255);
    background: transparent;
    outline: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 6rem;
    text-transform: lowercase;
    padding: 0 1rem;
    transition: all .15s linear;
}

@media only screen and (max-width: 35em) {
    .todo-input {
        font-size: 2.5rem;
        padding: 0 .4rem;
    }
}

.todo-input:focus {
    background-image: linear-gradient(to left, rgba(255, 173, 255, .45), rgba(255, 173, 255, .1));
    box-shadow: 0 0 15px 6px black;
}

.todo-input.shrink-on-focus-out:not(:focus) {
    font-size: 4rem;
}

@media only screen and (max-width: 35em) {
    .todo-input.shrink-on-focus-out:not(:focus) {
        font-size: 2rem;
    }
}

.todo-input.shrink-on-focus-out::placeholder {
    color: transparent;
    text-shadow: none;
}

.todo-span:focus-within + .add-todo-button {
    visibility : visible;
    opacity: 1;
}

.todo-input:focus::placeholder {
   color: transparent;
   text-shadow: none;
}

.todo-input:not(:focus) {
   color: transparent;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .1);
}

.todo-span:not(:focus-within)::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    background-image: linear-gradient(25deg, transparent, transparent, rgba(238, 255, 87, 0.459), rgba(41, 119, 192, 0.2), transparent);
    animation: swoosh 7s ease-out infinite; 

}

.todo-input::placeholder {
    color: white;
    padding-left: 1rem;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px #9600b4, 0 0 30px #9600b4, 0 0 45px #9600b4;
    animation: power-flicker 5s linear infinite;
}

.add-todo-button {
    flex: 0 0 10vw;
    visibility : hidden;
    opacity: 0;
    border: 0;
    color: rgba(0, 0, 0, 0.404);
    font-weight: 100;
    font-size: 8rem;
    font-family: 'Josefin Sans', sans-serif;
    outline: none;
    cursor: pointer;
    transition: all .15s linear;
}

@media only screen and (max-width: 35em) {
    .add-todo-button {
        flex: .01 0 10vw;
        font-size: 4rem;
    }
}

.add-todo-button-enabled {
    position: relative;
    background-image: radial-gradient(circle at 0% 30%, rgb(218, 31, 255) 10%, rgb(122, 61, 19) 70%);
    background-size: 200%;
    background-repeat: no-repeat;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.582);
}

.add-todo-button-enabled::after {
    content:'';
    position: absolute;
    height: 10rem;
    width: 200%;
    transform: rotate(-55deg);
    background-image: linear-gradient( transparent, rgba(255, 255, 255, .2),   rgba(255, 255, 255, .85), rgba(255, 255, 255, .2), transparent   );
    animation: button-spark 3.5s linear infinite forwards;
}

.add-todo-button-disabled {
    cursor: auto;
    background: rgba(0, 0, 0, 0.658);
    color: gray;
}

.add-todo-button-enabled:hover {
    color: rgb(255, 234, 240);
    text-shadow: 0 0 20px rgba(248, 193, 255, 1), 0 0 40px rgba(248, 193, 255, 1), 0 0 60px rgba(248, 193, 255, 1), 0 0 100px rgba(248, 193, 255, 1);
}

.add-todo-button-enabled:hover::after {
    width: 11px;
    height: 11px;
    background: rgba(226, 163, 255, .8);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.39);
    transform: none;
    animation: button-hovered 3s infinite linear;
}   

@keyframes power-flicker {
    0% {opacity: 0;
        color: white;
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px #9600b4, 0 0 30px #9600b4, 0 0 45px #9600b4;
    } 20% {
        color: transparent;
        text-shadow: none;
    } 22% {
        color: white;
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px #9600b4, 0 0 30px #9600b4, 0 0 45px #9600b4;
    } 25% {
        color: transparent;
        text-shadow: none;
    } 35% {
        color: white;
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px #9600b4, 0 0 30px #9600b4, 0 0 45px #9600b4;
    } 36% {
        color: transparent;
        text-shadow: none;
    } 37% {
        color: white;
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px #9600b4, 0 0 30px #9600b4, 0 0 45px #9600b4;
    } 50% {
        color: transparent;
        text-shadow: none;
    } 100% {
        color: white;
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px #9600b4, 0 0 30px #9600b4, 0 0 45px #9600b4;
    }
}

@keyframes button-spark {
    0% {
        left: -200%;
        top: -100%;
    }45% {
        left: -200%;
        top: -150%;
    }65% {
        left: 100%;
        top: 100%;
    }100% {
        left: 100%;
        top: 100%;
    }
}

@keyframes button-hovered {
    0%, 100%{
        top: 0;
        left: 0;
    }25%{
        top: 100%;
        left: 0;
        transform: translateY(-100%);
    }50%{
        top: 100%;
        left: 100%;
        transform: translateY(-100%) translateX(-100%);
    }75%{
        top: 0;
        left: 100%;
        transform: translateX(-100%);
    }
}
 

@keyframes swoosh {
    0% {
        right: -25%;
        opacity: 1;
    } 10% {
        right: 100%;
        opacity: 0;
    } 100% {
        right: 100%;
        opacity: 0;
    }
}